body {
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.header-text {
    width: 100%;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #2196f3;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 8px 0 8px;
}

.main-content video {
    width: calc(100% - 16px);
    height: calc(100% - 100px);
    text-align: center;
    padding: 0;
    /* background: rgb(22, 135, 63); */
    border: 1px solid rgb(18, 109, 51);
    border-radius: 8px;
    margin: 0;
    display: none;
}


/* 

media top

*/

.main-content .media-top-lay {
    width: calc(100% - 16px);
    height: calc(100% - 100px);
    text-align: center;
    padding: 8px 0 8px 0;
    /* background: rgb(22, 135, 63); */
    border: 1px solid rgb(18, 109, 51);
    border-radius: 8px;
    margin: 0;
}


/* 

bottom

*/

.buttons-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4px;
}

.btn {
    width: auto;
    height: auto;
    max-height: 60px;
    text-align: center;
    padding: 4px 4px;
    background: rgb(22, 135, 63);
    border: 1px solid rgb(18, 109, 51);
    border-radius: 8px;
    margin: 0 8px 0 8px;
    text-decoration: none;
    font-size: 12px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-transform: none;
    display: none;
}

.btn:hover {
    background: rgb(18, 109, 51);
    border: 1px solid rgb(18, 109, 51);
}